@use "../../styles//partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.upload {
    padding: 16px;

    @include tablet {
        padding: 0 36px;
    }


    @include desktop {
        padding: 0 80px;
    }

    &__title {
        @include page-header-mobile;
        font-weight: 600;
        padding: 8px 0 8px;

        @include tablet {
            font-size: 33px;
            line-height: 44px;
            padding: 36px 0 24px;
            border-bottom: 1px solid $mercury;
        }
    }

    &__container {
        padding: 16px 0;

        @include tablet {
            display: flex;
            flex-direction: column;
            gap: 24px;
            padding: 24px 0;
            align-items: flex-start;
        }

        @include desktop {
            display: flex;
            flex-direction: row;
            // gap: 24px;
            // max-width: 1020px;
        }
    }

    &__thumbnail {
        margin-bottom: 16px;

        @include tablet {
            margin-bottom: 0;
            width: 60%;
        }

        @include desktop {
            width:40%;
        }
    }

    &__preview {
        background-color: $mercury;
        border-radius: 4px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }

    &__label {
        @include labels-buttons;
        color: $silver;
        padding: 0.25rem;
        line-height: 24px;
        text-transform: uppercase;
    }

    &__form {
        @include tablet {
            width: 100%;
            flex-grow: 1;
        }

        @include desktop {
        }
    }

    &__field {
        margin-bottom: 16px;

        @include tablet {
            margin-bottom: 24px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__input {
        @include body-copy;
        width: 100%;
        background-color: $alabaster;
        border: 1px solid $mercury;
        border-radius: 4px;
        padding: 12px;
        font-size: 13px;
        line-height: 18px;
        height: 36px;

        @include tablet {
            // padding: 16px;
            // font-size: 14px;
            // line-height: 22px;
            // height: 40px;
        }

        &:focus {
            outline: none;
            border: 2px solid $brainflix-blue;
            padding: 11px;

            @include tablet {
                padding: 15px;
            }
        }

        &::placeholder {
            color: $brainflix-black;
            font-size: 0.9375rem;
            line-height: 0.9375rem;
            font-family: 'Avenir Next'
        }

        &--text {
            height: 120px;
            resize: none;

            @include tablet {
                height: 116px;
            }

            @include desktop {
                height: 117px;
            }
        }

        &--invalid{
            border: 2px solid red;
        }
    }

    &__actions {
        padding: 16px 0;
        display: flex;
        flex-direction: column;
        gap: 16px;

        @include tablet {
            flex-direction: row-reverse;
            justify-content: flex-start;
            gap: 24px;
            padding: 24px 0;
            border-top: 1px solid $mercury;
        }

        @include desktop {
            
        }
    }

    &__icon {
        width: 1.25rem;
        height: 1.25rem;
        position: relative;
        left: 0.8125rem;
    }

    &__btn {
        @include labels-buttons;
        height: 40px;
        border-radius: 4px;
        text-transform: uppercase;
        width: 100%;


        @include tablet {
            gap: 2.3125rem;
            width: 9.375rem;

        }

        &--primary {
            display: flex;
            background-color: $brainflix-blue;
            color: $white;
            border: none;
            align-items: center;
            justify-content: flex-start;
            gap: 35%;
            text-decoration: none;
            border-radius: 0.25rem;
            cursor: pointer;

            @include tablet {
                gap: 28%;
            }

            &:hover {
                background-color: $brainflix-darkblue;
            }
            &:disabled {
                cursor: not-allowed;
            }
        }

        &--secondary {
            background-color: $white;
            color: $brainflix-blue;
            border: 1px solid $white;
            display: flex;
            border: none;
            align-items: center;
            justify-content: flex-start;
            gap: 35%;
            text-decoration: none;
            border-radius: 0.25rem;
            cursor: pointer;



            &:hover {
                color: $brainflix-darkblue;

            }
        }

    }
}