@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;


.header {

    &__avatar {
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 50%;
        object-fit: cover;
        background-color: $mercury;
        display: none;

        @include tablet {
            display: inline-flex;
            width: 2.5rem;
            height: 2.5rem;
        }

        &-container {

            @include tablet {
                padding-right: 1rem;
                padding-left: 1.5rem;

            }
        }
    }
}