@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;


.comments {
    padding: 1rem;
}
.comment {
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
    border-bottom: 1px solid $mercury;
    
    &__avatar {
        width: 2.5rem; 
        height: 2.5rem; 
        flex-shrink: 0;
        border-radius: 50%;
        background-color: $mercury;
    }
    
    &__details {
        flex-grow: 1;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        gap: 0.5rem; 
        align-items: center;
        margin-bottom: 0.5rem; 
    }

    &__name {
        @include subheader;
        color: $brainflix-black;
        margin: 0;
    }
    
    &__date {
        @include body-copy;
        color: $silver;
    }
    
    &__text {
        @include body-copy;
        color: $brainflix-black;
        margin: 0;
    }
}