@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;


.comments {
    padding: 1rem;
    @include desktop{
        padding: 0;
    }
}
.comment {
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
    border-bottom: 0.0625rem solid $mercury;

    @include desktop{
        gap: 2rem;
        padding: 2rem 1rem 2rem 0;
    }

    &:first-child {
        border-top: 0.0625rem solid $mercury;
    }

    @include desktop {
        &:last-child {
            border-bottom: transparent;
        }
}
    
    &__avatar {
        width: 2.25rem; 
        height: 2.25rem; 
        flex-shrink: 0;
        border-radius: 50%;
        background-color: $mercury;

        @include tablet {
            width: 2.5rem; 
            height: 2.5rem
        }
    }
    
    &__details {
        flex-grow: 1;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        gap: 0.5rem; 
        align-items: center;
        margin-bottom: 0.5rem; 
    }

    &__name {
        @include subheader;
        color: $brainflix-black;
        margin: 0;
    }
    
    &__date {
        @include body-copy;
        color: $silver;
    }
    
    &__text {
        @include body-copy;
        color: $brainflix-black;
        margin: 0;
    }
}