@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.suggestions {
    padding: 0 16px;

    &__title {
        font-size: 12px;
        line-height: 20px;
        font-weight: 700;
        color: $brainflix-black;
        margin-bottom: 24px;
        text-transform: uppercase;
    }
}