@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.suggestions {
    padding: 0 1rem;

    &__title {
        color: $silver;
        margin-bottom: 1rem;
        text-transform: uppercase;
        @include section-header;
    }

    &__link {
        text-decoration: none;
    }
}