@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    @include tablet {
        padding: 0 2.25rem;
    }

    @include desktop {
        display: flex;
        padding: 0.5rem 5rem;
        gap: 0.0625rem;
    }

    &__content {
        @include desktop {
            padding-left: 0;
        }
    }

    &__sidebar {
        @include desktop {
            border-left: 0.0625rem solid $mercury;
        }
    }

    .suggestions {
        @include desktop {
            width: 21.25rem;
            padding: 2rem 1rem;
        }
    }
}