@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    @include tablet{
        padding: 0 36px;
    }

    @include desktop {
        display: flex; 
        padding: 8px 80px;
        gap: 1px;
    }

    &__content {
        @include desktop {
            padding-left: 0;
        }
    }
    &__sidebar{
        border-left: 1px solid $mercury;
    }


.suggestions {
        @include desktop {
            width: 340px;
            padding: 2rem 1rem;

        }
    }
}


//     width: 100%;

//     @include desktop {
//         flex: 1;
//         max-width: 856px;
//     }
// }

// &__sidebar {
//     width: 100%;

//     @include desktop {
//         width: 380px;
//     }
// }



//     &__content {
//         width: 100%; // Full width on mobile

//         @include tablet {
//             flex: 1; // Takes up remaining space
//             max-width: 712px;
//         }

//         @include desktop {
//             max-width: 856px;
//             flex: 1;
//         }
//     }

//     &__sidebar {
//         width: 100%; // Full width on mobile

//         @include tablet {
//             width: 320px; // Fixed width for sidebar
//         }

//         @include desktop {
//             width: 380px;
//         }
//     }
// }