@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.not-found-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 1rem;

    &__container {
        text-align: center;
        max-width: 37.5rem;
        padding: 2rem;
    }

    &__title {
        color: $brainflix-blue;
        font-size: 3rem;
        margin-bottom: 1rem;
        @include page-header-desktop;

        @include tablet {
            font-size: 4rem;
            padding-bottom: 1rem;
        }
    }

    &__message {
        font-size: 1.5rem;
        color: $brainflix-black;
        margin-bottom: 1rem;
        @include subheader;

        @include tablet {
            font-size: 2rem;
        }
    }

    &__details {
        color: $brainflix-black;
        line-height: 1.5;
        @include body-copy;
    }
}