@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.video {
    width: 100%;

    &__info {
        padding: 1.5rem 1rem;

        @include tablet {
            padding: 1.5rem 1rem;
        }

        @include desktop {
            padding: 2.25rem 0;
            margin: 0 auto;
        }
    }

    &__title {
        @include page-header-mobile;
        color: $brainflix-black;
        font-weight: 600;
        margin-bottom: 1rem;

        @include tablet {
            @include page-header-desktop;
            margin-bottom: 0;
        }
    }

    &__details {
        border-top: 0.0625rem solid $mercury;
        border-bottom: 0.0625rem solid $mercury;
        padding: 1rem 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @include tablet {
            flex-direction: row;
            justify-content: space-between;
            padding: 0.5rem 0;
            border-top: 0;
        }
    }

    &__data {
        display: flex;
        flex-direction: column;
        gap: 0.875rem;

        @include tablet {
            flex-direction: row;
            gap: 1.5rem;
        }
    }

    &__author {
        @include body-copy;
        color: $brainflix-black;
        font-weight: 600;

        @include tablet {
            @include body-copy;
            font-weight: 600;

        }
    }

    &__date {
        @include body-copy;
        color: $silver;

        @include tablet {
            @include body-copy
        }
    }

    &__stats {
        color: $silver;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 0rem 1.5rem 0rem 0rem;

        @include tablet {
            display: flex;
            flex-direction: row;
            gap: 3.5rem;
        }
    }

    &__views,
    &__likes {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    img {
        width: 1.5rem;
        height: 1.5rem;
    }

    span {
        @include body-copy;
    }

    &__description {
        @include body-copy;
        color: $brainflix-black;
        margin-top: 1rem;


        @include desktop {
            padding-right: 1rem;
        }
    }

}